@media (max-width: 500px) {
    #table {
        width: 100%;
    }

    #played{
        flex: 3.5;
    }

    #score{
        flex: 2;
    }

    .tableFont{
	    font-size: 12px;
    }

    #number{
        flex: 1;
    }

    #icon-cell{
        flex: 1;
    }

    #icon-cell-2{
        flex: 1.5;
    }

    #showInstructions{
        display: block;
        text-decoration: underline;
        cursor: pointer;    	 
    }

    #title-text{
	    font-size: 40px;
    }

    #winner{
	    flex: 3.5;
    }

    #weekName{
	    flex: 12;
    }

    .individualCells li{
        border-right: 2px solid #000059;
        /* max-width: 85px;
        word-wrap: break-word; */
    }

    .individualCells.playerName li{
        font-size: 3vh;
    }

    #label-spacer{
        flex: 4;
    }    

    .subRow1{
        width: 90%;
    }

    .subRow2{
        width: 88.5%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -2px;
    }
}
