/* ------------------------------------- Main Styles -------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');
@import url('https://fonts.googleapis.com/css?family=Bilbo');

html{
	/* background: url("../assets/backgrounds/1.jpg") center fixed; */
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* overflow: -moz-scrollbars-vertical;  */
	overflow-y: scroll;
	color: white;
}

#background{
	background-image: url('../assets/backgrounds/2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

body{
  /*background: url("../assets/7.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

#table{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 60%;
}

.subRow1{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.subRow2{
	width: 78.5%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -2px;
}
/* #next-event-container{
	padding: 2px 10px 2px 10px;
	border-radius: 5px;
	margin-left: 5px;
	color: #ceb777;
}

#next-event-container a{
	color: #0790f6;
}

.topLink a{
	color: #0790f6;
}

#showInstructions{
	display: none;	 
}

#label-spacer{
	font-size: 14px;
	flex: 8;
}

.topLink{
	margin-top: 10px;
} */

/* ------------------------------------- Click and Hover Events-------------------------------------------------------- */

.main-table .tableRow:hover {
  box-shadow: 1px 1px 3px white;
	border: 2px solid white;	
	cursor: pointer;
}

/* ------------------------------------- Borders and Row spacing-------------------------------------------------------- */


.tableRow{
  border-radius: 5px; 
  border: 2px solid #000059;
  margin-top: 2px;
  margin-bottom: 2px;
}

#header .tableRow{
	margin: 0;
}

/* ------------------------------------- Row Colors-------------------------------------------------------- */

.evenColor{
  background-color: rgba(38, 38, 127, 0.9);
}

.oddColor{
	background-color: rgba(	90,	90,	255, 0.9);
}

.headingColor{
	background-color: rgb(38, 38, 127);
}

/*********** Individual cell styles **************/

#teamName{
  padding-left: 10px;
	text-align: left;
	flex: 7;
}

#icon-cell{
	flex: 0.5;
}

.L-logo{
	flex: 2;
}

#number{
	border-left: 2px solid #000059;
	border-right: 2px solid #000059;
	flex: 0.5;
}

#title{
	margin: auto;
	flex: 6;
}

#title-text{
	margin: 0px;
	padding: 0px;
	font-size: 50px;
	font-family: 'Bilbo', cursive;
}

#score{
	border-left: 2px solid #000059;
	border-right: 2px solid #000059;
	padding-left: 10px;
	padding-right: 10px;
	flex: 1;
}


#scoreTitle{
	padding-left: 10px;
	padding-right: 10px;
	flex: 1;
}

#weekName{
	padding-left: 20px;
	text-align: left;
	flex: 10;
}

#played{
	margin-top:auto;
	margin-bottom: auto;
	color: white;
	flex: 1.5;
}

#playedTitle{
	margin-top:auto;
	margin-bottom: auto;
	color: white;
	flex: 1.5;
}

#weekScore{
	border-left: 2px solid #000059; 
}


#headingRow1{
	position: relative;
	z-index: 10;
	overflow: hidden;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0px;
}

#headingRow2{
	border-radius: 0px;
	border-top: 0px;
	font-size: 18px;
}

#headingRow3{
	border-radius: 0px 0px 5px 5px;
	border-top: 0px;	
	font-size: 18px;
}

.individualCells li{
	border-right: 2px solid #000059;
}

.individualCells{
	border-style: solid;
	border-color: #000059;
	border-width: 0 0 2px 2px;
}


/************* Image switcher ******************/

#bg, #bg-next {
  position: fixed; 
  top: 0; 
  left: 0;  
  min-width: 100%;
	min-height: 100%;
}

/* canvas {
    top: 0 !important;
    left: 0 !important;
    min-width: 100% !important;
    min-height: 100% !important;
    position: fixed !important;
} */

#bg{
	z-index: -1;
}

#bg-next{
	z-index: -2;
}